<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Create Client</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
  </head>
  <body>
    <h1>Client Creation</h1>
    <div th:insert="fragments/header :: header"></div>
    <th:block th:unless="${#lists.isEmpty(errors)}">
      <p>Please correct the following errors in your submission:</p>
      <ul>
        <th:block th:each="error : ${errors}">
          <li th:text="${error}"></li>
        </th:block>
      </ul>
    </th:block>
    <div class="container form-boundary">
      <form class="custom-form was-validated" action="/client/create" id="clientForm" method="POST">
        <div class="form-row justify-content-center">
          <div class="col-md-9">
            <div class="md-form form-group">
              <label for="clientName">Client Name</label>
              <input class="form-control" type="text" id="clientName" name="clientName"
                     placeholder="Client Name" th:value="${client.clientName}" required/>
              <div class="invalid-feedback">
                <small id="clientNameError" class="form-text text-muted error" hidden></small>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row justify-content-center">
          <div class="col-md-9">
            <div class="md-form form-group">
              <label for="websiteUri">Website</label>
              <input class="form-control" type="url" id="websiteUri" name="websiteUri"
                     placeholder="http://www.example.com" th:value="${client.websiteUri}" required/>
              <div class="invalid-feedback">
                <small id="websiteUriError" class="form-text text-muted error" hidden></small>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row justify-content-center">
          <div class="col-md-9">
            <div class="md-form form-group">
              <label for="phoneNumber">Phone Number</label>
              <input class="form-control" type="text" id="phoneNumber" name="phoneNumber"
                     placeholder="555-555-5555" th:value="${client.phoneNumber}" required/>
              <div class="invalid-feedback">
                <small id="phoneNumberError" class="form-text text-muted error" hidden></small>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row justify-content-center">
          <div class="col-md-9">
            <div class="md-form form-group">
              <label for="streetAddress">Street Address</label>
              <input class="form-control" type="text" id="streetAddress" name="streetAddress"
                     placeholder="123 Fake St." th:value="${client.streetAddress}" required/>
              <div class="invalid-feedback">
                <small id="streetAddressError" class="form-text text-muted error" hidden></small>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row justify-content-center">
          <div class="col-md-3">
            <div class="md-form form-group">
              <label for="city">City</label>
              <input class="form-control" type="text" id="city" name="city" placeholder="Boston"
                     th:value="${client.city}" required/>
              <div class="invalid-feedback">
                <small id="cityError" class="form-text text-muted error" hidden></small>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="md-form form-group">
              <label for="state">State</label>
              <input class="form-control" type="text" id="state" name="state" placeholder="MA"
                     th:value="${client.state}" required/>
              <div class="invalid-feedback">
                <small id="stateError" class="form-text text-muted error" hidden></small>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="md-form form-group">
              <label for="zipCode">Zip Code</label>
              <input class="form-control" type="text" id="zipCode" name="zipCode" pattern="[0-9]{5}" placeholder="12345"
                     th:value="${client.zipCode}" required/>
              <div class="invalid-feedback">
                <small id="zipCodeError" class="form-text text-muted error" hidden></small>
              </div>
            </div>
          </div>
        </div>
        <div class="submit-btn">
          <input class="btn btn-primary" type="submit" name="Submit" value="Submit"/>
        </div>
      </form>
    </div>
    <script type="text/javascript" th:src="@{/js/client_form_validation.js}" defer></script>
  </body>
</html>
