<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Create Person</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
  </head>
  <body>
    <div th:insert="fragments/header :: header"></div>
    <h1>Create Person</h1>
    <th:block th:unless="${#lists.isEmpty(errors)}">
      <p>Please correct the following errors in your submission:</p>
      <ul>
        <th:block th:each="error : ${errors}">
          <li th:text="${error}"></li>
        </th:block>
      </ul>
    </th:block>
    <div class="container form-boundary">
      <form class="custom-form was-validated" action="/person/create" id="personForm" method="POST">
        <div class="form-row justify-content-center">
          <div class="col-md-6">
            <div class="md-form form-group">
              <label for="firstName">First Name</label>
              <input class="form-control" type="text" name="firstName" id="firstName"
                     placeholder="First Name" th:value="${person.firstName}" required/>
              <div class="invalid-feedback">
                <small id="firstNameError" class="form-text text-muted error" hidden></small>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="md-form form-group">
              <label for="lastName">Last Name</label>
              <input class="form-control" type="text" name="lastName" id="lastName"
                     placeholder="Last Name" th:value="${person.lastName}" required/>
              <div class="invalid-feedback">
                <small id="lastNameError" class="form-text text-muted error" hidden></small>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row justify-content-center">
          <div class="col-md-12">
            <div class="md-form form-group">
              <label for="emailAddress">Email</label>
              <input class="form-control" type="email" name="emailAddress" id="emailAddress"
                     placeholder="JohnDoe@gmail.com" th:value="${person.emailAddress}" required/>
              <div class="invalid-feedback">
                <small id="emailAddressError" class="form-text text-muted error" hidden></small>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row justify-content-center">
          <div class="col-md-12">
            <div class="md-form form-group">
              <label for="streetAddress">Address</label>
              <input class="form-control" type="text" name="streetAddress" id="streetAddress"
                     placeholder="123 Fake St." th:value="${person.streetAddress}" required/>
              <div class="invalid-feedback">
                <small id="streetAddressError" class="form-text text-muted error" hidden></small>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row justify-content-center">
          <div class="col-md-4">
              <div class="md-form form-group">
                <label for="city">City</label>
                <input class="form-control" type="text" name="city" id="city"
                       placeholder="Boston" th:value="${person.city}" required/>
                <div class="invalid-feedback">
                  <small id="cityError" class="form-text text-muted error" hidden></small>
                </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="md-form form-group">
              <label for="state">State</label>
              <input class="form-control" type="text" name="state" id="state"
                     placeholder="MA" th:value="${person.state}" required/>
              <div class="invalid-feedback">
                <small id="stateError" class="form-text text-muted error" hidden></small>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="md-form form-group">
              <label for="zipCode">Zip Code</label>
              <input class="form-control" type="text" name="zipCode" id="zipCode"
                     placeholder="12345" th:value="${person.zipCode}" required/>
              <div class="invalid-feedback">
                <small id="zipCodeError" class="form-text text-muted error" hidden></small>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row justify-content-center">
          <div class="form-group">
            <label for="clientName">Client</label>
            <select class="form-control" id="clientName"
                    th:placeholder="Client" th:field="${person.client.clientName}">
              <option class="form-control" th:each="client : ${clients}" th:value="${client.clientName}" th:text="${client.clientName}"></option>
            </select>
          </div>
        </div>
        <div class="submit-btn">
          <input class="btn btn-primary" type="submit" name="Submit" value="Submit"/>
        </div>
      </form>
    </div>
    <script type="text/javascript" th:src="@{/js/person_form_validation.js}"></script>
  </body>
</html>
